<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon-32.png' | relative_url }}">
  <link rel="icon" type="image/png" href="{{ '/images/favicon.png' | relative_url }}">

</head>
<body>
  <div class="layout">
    <aside class="sidebar">
      <div class="logo">
        <img src="{{ '/images/logo.png' | relative_url }}" alt="InkSlate logo">
      </div>
      <div class="site-name">InkSlate</div>
      <nav>
        <a href="{{ '/' | relative_url }}">🏡 Home</a>
        <a href="{{ '/GUIDE_USER.html' | relative_url }}">📖 User guide</a>
        <a href="{{ '/GUIDE_DEVELOPER.html' | relative_url }}">⚙️ Developer guide</a>
      </nav>
    </aside>

    <main class="content">
      {{ content }}

      <footer>
        <a href="https://github.com/AninditaBasu/inkslate">View on GitHub</a>
		<br>&copy; 2026 Anindita Basu. All rights reserved.
      </footer>
    </main>

  </div>
</body>
</html>
